<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingrisoft.baiduvioce">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--手机震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--访问照相机手机震动权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    - <!-- 允许访问闪光灯
  -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    - <!-- 允许程序保持进程不进入休眠状态
  -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        - <!--  begin: baidu speech sdk
  -->
        - <!--             离线功能指南：
            1. 在百度语音开放平台注册应用，http://yuyin.baidu.com/app
            2. 为您的应用的“申请离线授权页面”，填写程序包名
            3. 在当前应用的AndroidManifest.xml中填写相应的APP_ID（或在代码中设置appid参数）
            4. 根据场景下载并集成相应的资源，见http://yuyin.baidu.com/docs/asr/131和http://yuyin.baidu.com/asr/download

            另外需要注意的是离线功能只是在线功能的“增强”，不能永久不联网使用（特别是首次使用）。

  -->
        - <!--  请填写真实的APP_ID API_KEY SECRET_KEY
  -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="8998140" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="jqorGbkGOXr59HkuE9OncnlR" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="b2345cc91d1fb59299587f1f797a0a56" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
           >
            -
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityWakeUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        -
        - <!--
  -->
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>